<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='scrolling-text.css') }}">
    <title>Langages</title>

    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

</head>
<body>
    <header>
        <h1>Langages</h1>
    </header>
    <main>
        <section id="game-section">
            <div id="map-container"></div>
            <div id="buttons-container">
                <button id="play-button">Jouer</button>
                <button id="training-button">Entrainement</button>
            </div>
        </section>
        <section id="scrolling-text-section">
            <h2 id="scrolling-text">Hello Hola Hej こんにちわ Hallo Bonjour Olá 你好 Γεια σας Ciao Sveiki Здравствуйте Привіт 안녕하세요 </h2>
        </section>
    </main>
    <script src="https://code.jquery.com/jqu